*{
	box-sizing: border-box;
	font-family: georgia;
  font-size:16px;
	margin: 0;
	padding: 0;
}

.row {
	width: 100%;
}

div#container {
  background-color: #D3D3D3;
  margin-left : 4px;
  position: relative;
  border: 1px solid black;
}

p {
  width: 90%;
  height: 100%;
  margin-left: 3px;
  margin-right: 1px;
  padding: 2px;
  color: black;
  position:relative;
}

h1.heading {
  text-align: center;
  margin-bottom: 30px;
  font-size: 175%;
}

#p1{
  width: 100px;
  height: 50px;
  background-color: #fa8072;
  float:right;
  text-align: center;
  border: 1px solid black;
  padding: 0px;
  position: relative;
  margin-right:auto;
  font-size: 125%;
}

#p2{
  width: 100px;
  height: 50px;
  background-color: #8fbc8f;
  float:right;
  margin-right: auto;
  text-align: center;
  border: 1px solid black;
  padding: 0px;
  position: relative;
  font-size: 125%;
}

#p3{
  width: 100px;
  height: 50px;
  background-color: #9acd32;
  float:right;
  margin-right: auto;
  text-align: center;
  padding: 0px;
  border: 1px solid black;
  position: relative;
  font-size: 125%;
}

#p4{
  clear:right;
}


@media (min-width: 992px) {
  .desktop {
    width: 33.33%;
    float: left;
    border: 1px solid white;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .tablet {
    width: 50%;
    float: left;
    border: 1px solid white;
  }
  .tablet-full {
  	width: 100%;
    float: left;
  	border: 1px solid white;
  }
}

@media (max-width: 767px) {
  .mobile {
    width: 100%;
    float: left;
    border: 1px solid white;
  }
}